.header {
    background-color: gray;
    height: 100px;
}

.body {
    background-color: gray;
}

.nav {
    background-color: gray;
}

.main {
    background-color: gray;
    overflow: hidden;

}

.footer {
    background-color: gray;
}

.banner {
    background-color: gray;

}

.product {
    background-color: gray;
    float: left;
    text-align: center;
    width: 25%;

}

.product img {
    width: 100px;
}

.productimg img {
    width: 100px;
}

.productimg {
    background-color: gray;
    text-align: center;
    float: left;
    width: 33.33%;
}
.feature-product{
    overflow: hidden;}
.best-seller-product{
    overflow: hidden;
}




















