.body{
    background-color: beige;
    margin: 0 auto;
}
.login-form {
    max-width: 400px;
    background-color: brown;
    text-align: center;
}
.input-text{
    padding: 20px;
    border: 1px solid black;
}
.login{
    padding: 20px;
    background-color: gray;
}