.header {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif
    color: grey;
    overflow: hidden;
    padding: 10px;

    

}
.header-{
    float:right;

}

.nav {
    background-color: white;
    padding: 10px;
    color: #00095B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    margin-right: 40px;


}

.main {
    background-color: #da7029;
    padding: 10px;
    color: white;
}
.x-{
    float: right;
    
}