.list{
    display: flex;
    border: 1px solid black;
    justify-content:space-around;
    padding:10px;
    border-radius: 50px;
    margin: 20px 360px;
}

.items{
    padding: 15px 30px;
    color:#00095b;
    font-weight: bold;
}
.items:hover{
    color:white;
    background-color: #00095b;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px grey;
}
.show-bronco, .show-truck, .show-mustang{
    display: none;
}