.header {
    background-color: beige;
    padding: 20px;
}

.nav {
    background-color: brown;
    padding: 20px;
}

.main {
    background-color: beige;
    padding: 20px;
    overflow: hidden
}
.first{
    width:100%;

}
.second{
    width:100%;

}
.third{
    width:100%;

}
.fourth{
    width:100%;
    

}

.column {
    float: left;
    width: 20%;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: burlywood;
    margin: 10px;
    padding:20px;
}


.footer {
    background-color: rgb(24, 24, 51);
    padding: 20px;
    color: white;
}