.body{
    background-color: beige;
}



.out-block{
    display: flex;
    width: 685px;
    height: 555px;
    padding: 48px 40px 36px;
    border: 1px solid lightgrey;
    margin: 0px auto;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.left-box{
    width: 60%;

}
h2{
    font-weight: normal;
}
.name{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 0px 0px;
}
.email{
    padding: 35px 0px 0px 0px;
    width: 100%;
} 
.username{
    width: 95%;
}  
.password{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 0px 0px;
}
.response{
    display: flex;
    justify-content: space-between;
    padding: 60px 0px 0px 0px;
}
a{
    text-decoration: none;
    color: #0d6efd;
    
}
button{
    padding: 10px 30px;
    color: white;
    background-color: #0d6efd;
    font-weight: bold;
    border-radius: 5px;
    font-size: smaller;
    border: none;
}
.checkbox{
    padding: 20px 0px 0px 0px;
}   
.showpassword{
    width: 4%;
    height: 16px;
    margin: 0px 20px 0px 0px;
}
.comments{
    font-size: 13px;
    margin-left: 25px;
    color: grey;
}
input{
    padding: 10px 10px;
    width: 90%;
    border-radius: 4px;
    border: 1px solid lightgrey;
}
.right-box{
    width: 40%;
    padding: 0px 0px 0px 50px;
}
.img-allign{
    margin: 150px 0px 0px 20px;
}
.one-account{
      text-align: center;
      font-weight: normal;
      color: darkslategrey;
}
.bottom-box{
    margin: 0px auto;
    width: 750px;
    padding: 20px 0px;
}
.right-bottom{
    width: 50%;
    float: right;
}
.left-bottom{
    width: 50%;
    float: left;
}
.links{
    float: right;
    margin:0px 0px 0px 20px ;
    color:gray;
    font-size: 14px;
}
select , option{
    font-size: 14px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}
.red{
    color: red;
    font-size: 12px;
}
.black{
    font: bold;
    color: black;
    font-size: 20px;
    padding: 0px 0px 25px 0px;
}